<!DOCTYPE html>
<html lang="en">
	<head><%- include ('partials/head') %></head>
<body class="container">      
    <header><%- include ('partials/header') %></header>  
    <main>    
      <section>
    <ul>
        <% comments.forEach((article)=> { %>
            <li>
                <h2>
                    <%= article.username %>
                </h2>
                <p>
                    <%= article.comment %>
                </p>
                <p>
                    <%= new Date().toISOString() %>
                </p>
            </li>
            <hr />
        <% }) %>
    </ul>
</section>        
</main>    
</body>
</html>